body {
    margin: 0;
}

.header {
    background-color: #1F2937;
}

.header-content {
    margin: 0;
    padding: 0 100px 100px 100px;
}

.logo-and-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.title-and-image {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    justify-content: space-between;
}

img {
    flex-shrink: 0;
}

h1 {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 48px;
    margin: 0;
}

p {
    margin: 0;
}

.secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 20px;
}

.content {
    background-color: white;
    padding-bottom: 100px;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.images {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.image-with-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.image-with-text > img {
    height: 150px;
    width: 150px;
    border-radius: 20px;
}

.image-with-text > p {
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
}

.quote-content {
    width: 600px;
    padding: 100px 0;
    margin : auto;
}

blockquote {
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;
    padding: 0;
    margin: 0;
}

.quote-content > p {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

.sign-up-box {
    display: flex;
    background-color: #3882F6;
    margin: 100px;
    padding: 75px;
    justify-content: space-around;
}

h3 {
    margin: 0;
    padding: 0;
    color: #F9FAF8;
}

.sign-up-text > p {
    color: #E5E7EB;
}

.sign-up-button > button {
    color: #F9FAF8;
    border-color: #F9FAF8;
}

